.gallery {
    margin-top: 60px;
    &__title {
        @extend .titleTemplate;
    }
    &__container {
        @include cardContainer (center, "yes");
        // margin-top: 20px;
        // border-radius: 20px;
        // background-color: #fff;
        // box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding: 30px 20px;
        img {
            width: 160px;
            height: auto;
            margin: 0 10px;
            border-radius: 20px;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }    
}
@media (max-width: 500px) {
    .gallery__container {
        flex-direction: column;

        img {
            margin-bottom: 20px;
        }
    }
}
