* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: roboto;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #f1f1f1;
    color: #333;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.titleTemplate {
    text-transform: uppercase;
    color: $colorPrimary;
    margin: 30px 0;
    font-size: $fontLarge;
    text-align: center;
}
@mixin cardContainer($justifyContent, $shadow) {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    padding: 30px 20px;
        
    @if ($shadow == "yes") {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);    
    }
}

@each $heading in (h3, h4) {
    #{$heading} {
        text-transform: uppercase;
    }    
}
$rrss: (
    github: #1d1d1d,
    twitter: #55acee,
    instagram: #c92d8f,
);

@each $name, $color in $rrss {
    .#{$name} {
        background-color: $color;
        margin: 0 5px;
        padding: 10px;
        color: #fff;
        border-radius: 20px;
    }
}